<!-- Resources -->
<h2>Anúncios Cadastrados</h2>
<p>
  <a href="javascript:" [routerLink]="['create']">Novo Anúncio</a>
</p>

<div class="card-container">
  <table border="1">
    <thead>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Versão</th>
      <th>Ano</th>
      <th>Quilometragem</th>
      <th>Observação</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of listAnnouncement" role="row">
        <td>{{ item.marca}}</td>
        <td>{{item.modelo}}</td>
        <td>{{item.versao}}</td>
        <td>{{item.ano}}</td>
        <td>{{item.quilometragem}}</td>
        <td>{{item.observacao}}</td>
        <td>

          <a href="javascript:" [routerLink]="['/annoucement', item.id]">Editar</a>
          &nbsp;&nbsp;&nbsp;
          <a href="javascript:" (click)="delete(item.id)">Deletar</a>
        </td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
